body {
    background-color: #F6FAFFFF;
    padding: 0;
    margin: 0;
}

* {
    font-family: 'Albert Sans', sans-serif;
}

header div {
    display: flex;
    align-items: center;
    margin-left: 42px;
    padding-top: 21px
}

header h1 {
    padding-top: 20px;
    color: white;
    margin-top: 0;
}

header {
    position: relative;
    height: 230px;
    background: #1a48ab;
}

header svg {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: auto;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#content {
    padding: 10px;
    text-align: left;
    border-radius: 5px;
    border-style: none;
    width: 500px;
    height: 50px;
    resize: none;
}

.hidden {
    display: none !important;
}


.button {
    background-color: #1a48ab;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.smallButton {
    background-color: #1a48ab;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
}


#fileList {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
